.app__locationitem {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.app__locationitem-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__locationitem-sub {
    width: 100%;
    margin-top: 0.2rem;
}

.app__locationitem-name {
    flex: 1;
}

.app__locationitem-name p {
    width: 100px;
}

.app__locationitem-dash {
    width:  90%;
    height: 1px;
    background: var(--color-golden);
    margin: 0px 1rem;
}
.app__locationitem-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}