.app__header{
    background-color: var(--color-black);
}

.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px ;
    font-size: 90px;
}
.app__wrapper_img-img{
    width:35rem
}
.app__header-img {
    width: 80%;
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-size: 5rem;
        text-align: center;
    }
    .custom__button{
     margin-left: 5.5rem;
    }

}

