@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;

  --colourScheme-color: var(--color-golden);
  --colourSchemeText-color: #ffffff;
  --background-backgroundColor: rgba(244, 148, 13, 0.534);
  --TestBorder-border: 1px solid #93BC34; 
  --UnderlineBorder-border: 2px solid rgba(244, 148, 13, 0.8); 
  --profilePic-shadow: #f3d0ae;
  --bodyBackground : #0e0e11;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

::-webkit-scrollbar {
	height: 12px;
	width: 16px;
	background-color: var(--bodyBackground);
}
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--colourScheme-color);
	border: 4px solid #141E28;
	border-radius: 50px; 
}
::-webkit-scrollbar-track {
    background-color: var(--bodyBackground);
    border: 0px none var(--colourSchemeText-color);
    border-radius: 50px;
}

