.tourguide__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow-y: hidden ;
    color: white;  
    background-repeat: repeat-x;
}
